<md-dialog aria-label="Drone Choice">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Drone Choice</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <md-tabs md-dynamic-height md-dynamic-width md-border-bottom id="tabs">
                <md-tab  ng-repeat="drone in dronesInformation" label="{{drone.name}}" md-on-select="setTmpDrone(drone.name)" >
                    <md-content class="md-padding">
                        <h1 class="md-display-2">{{drone.name}}</h1>
                        <md-list>
                            <md-list-item>Connected : {{drone.status.connection}}</md-list-item>
                            <md-list-item>Mode : {{drone.status.mode}}</md-list-item>
                        </md-list>
                    </md-content>
                </md-tab>
               </md-tabs>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancel()" >
                Cancel
            </md-button>
            <md-button ng-click="confirmDroneSwap()" style="margin-right:20px;" >
                Select Drone
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>